.wrapper {
	background-color: #feb976;
	width: 100%;
}

.admin_flex {
	display: flex;
	flex-direction: column;
	background-image: url('./images/elevated2.jpg');
	background-image-opacity: 0.5;
	/* opacity: 0.5; */
	background-repeat: repeat-y;
	background-size: 100%;
	height: 200vh;
	width: 100%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}

.cont {
	height: 250px;
	width: 85%;
	border: 5px solid rgb(4, 110, 175);
	text-align: center;
	color: #ffffff;
	margin: 0 auto;
}
.cont h1 {
	font-size: 42px;
	font-weight: 600;
	margin-bottom: 13px;
}

@media (max-width: 900px) {
	.cont h1 {
		font-size: 30px;
		font-weight: 600;
		margin: 0 auto;
	}
	.cont {
		width: 100%;
	}
}
