$dark: #250777e3;
.container {
    font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 62.5%;
        width: 100%;
        min-height: 100vh;        
}
section {
    padding: 5rem 7%;
    min-height: 100vh;
}

.ft {
    padding: 5rem 7%;
    // min-height: 100vh;
    // background-color: #659263;
    background-image: url(./Footer4.png);
 }
.ft h2 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 2rem;
    color: $dark;
}
.ft .row {
    display: flex;
    flex-wrap: wrap;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.ft .row form {
    flex: 1;
    padding: 2rem;
}
.ft .row .map {
    flex: 1 1 50rem;
    width: 100%;
}
.ft .row form .inputContainer {
    position: relative;
 }

.ft .row form .inputContainer input,
.ft .row form .inputContainer textarea {
    width: 100%;
    margin: 1.5rem 0;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    color: #555;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.ft .row form .inputContainer textarea {
    height: 15rem;
    resize: none;
}
.ft .row form .inputContainer label {
    font-size: 1.5rem;
    position: absolute;
    top: 2.4rem;
    left: 1rem;
    color: #555;
}
.ft .row form .inputContainer input:focus ~label,
.ft .row form .inputContainer textarea:focus ~label, .ft .row form .inputContainer input:valid ~label,
.ft .row form .inputContainer textarea:valid ~label {
    top: -0.7rem;
    left: 0;
    color: $dark;
}
.btn {
    padding: 1.5rem 2rem;
    border: none;
    outline: none;;
    border: .2rem solid $dark;
    color: $dark;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background-color: $dark;
    color: white;
}