.qwertynone {
	display: none;
}

.qwertyblock {
	display: block;
}

.qwertyblock button {
	margin: 2px 5px;
	/* background-color: #777472;
	border-color: #777472; */
}

@media screen and (max-width: 1199px) {
	.qwertyblock button {
		margin-right: 0;
	}
}
